<nav class="navbar navbar-expand-lg nav-inverse">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 right">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link btn btn-outline-primary" [routerLink]="['/solicita']">Opcion1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/quienes-somos']">Opcion2</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/donde']">Opcion3</a>
      </li>
      <!--  <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/paga25']">Activa25</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/paga-x']">ActivaX</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/documentation']">XXXXXX</a>
      </li> -->
    </ul>

  </div>
</nav>


