<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font" style="text-align: center; font-weight: bold;">Juanan Hernandez </h1>
    </div>
  </div>

  <div class="main-container">
    <section id="timeline" class="timeline-outer">
      <div class="container" id="content">
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="blue-text lighten-1 header">Mi timeline</h1>
      <!--<ul class="timeline">
        <li *ngFor="let experience of this.experiences" class="event" data-date={{experience.init_date}}>
          <h3>{{experience.role}}s</h3>
          <p>{{experience.company}}</p>
        </li>
        <li class="event" data-date="jul. 16' - sep. 16'">
          <h3>Internship</h3>
          <p>Accenture</p>
        </li>
        <li class="event" data-date="dic. 16' - jun. 17'">
          <h3>Android developer</h3>
          <p>Atos</p>
        </li>
        <li class="event" data-date="jun. 17' - ago. 17'">
          <h3>Security assistant</h3>
          <p>Management Solutions</p>
        </li>
        <li class="event" data-date="nov. 17' - abr. 18'">
          <h3>ECM consultant</h3>
          <p>Informática El Corte Inglés</p>
        </li>
        <li class="event" data-date="may. 18' - act.">
          <h3>Software developer</h3>
          <p>BBVA Next Technologies</p>
        </li>
      </ul>
      -->


      <ul class="timeline">
        <li *ngFor="let experience of this.experiences" class="event">
          <h3>{{experience.role}}</h3>
          <h5>{{experience.company}}</h5>
          <p style="font-style: italic">{{this.getMonthAndYear(experience.init_date)}} / {{this.getMonthAndYear(experience.end_date)}}</p>
          <p>{{experience.description}}</p>
        </li>
      </ul>

    </div>
  </div>
  </div>
    </section>

  </div>

</div>
