<app-nav-bar></app-nav-bar>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">21-11-18</th>
      <td>Convocatoria de 
        sustituciones como docente en Liceo Cervantes de Roma</td>
    </tr>
    <tr>
      <th scope="row">20-11-18</th>
      <td>Convocatoria de 
        sustituciones como docente en Liceo Cervantes de Roma</td>
    </tr>
    <tr>
      <th scope="row">19-11-18</th>
      <td>Convocatoria de 
        sustituciones como docente en Liceo Cervantes de Roma</td>
    </tr>
  </tbody>
</table>

<app-footer></app-footer>

