<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font" style="text-align: center; font-weight: bold;">Juanan Hernandez </h1>
      <p style="text-align: center; font-weight: bold; font-style: italic;">'The starting point of all achievement is desire'</p>
      <p style="text-align: center">Napoleon Hill</p>
    </div>
  </div>

  <div id="content">
    <h1>Mi timeline</h1>

    <div id="div-content">
      <ul class="timeline">
        <li class="event" data-date="2011 - 2017">
          <h3>Ingeniería Informática y Administración de Empresas</h3>
          <p>Universidad Carlos III de Madrid</p>
        </li>
        <li class="event" data-date="jul. 16' - sep. 16'">
          <h3>Internship</h3>
          <p>Accenture</p>
        </li>
        <li class="event" data-date="dic. 16' - jun. 17'">
          <h3>Android developer</h3>
          <p>Atos</p>
        </li>
        <li class="event" data-date="jun. 17' - ago. 17'">
          <h3>Security assistant</h3>
          <p>Management Solutions</p>
        </li>
        <li class="event" data-date="nov. 17' - abr. 18'">
          <h3>ECM consultant</h3>
          <p>Informática El Corte Inglés</p>
        </li>
        <li class="event" data-date="may. 18' - act.">
          <h3>Software developer</h3>
          <p>BBVA Next Technologies</p>
        </li>

      </ul>
    </div>
  </div>

</div>
